services:
  open-webui:
    image: ghcr.io/open-webui/open-webui:main
    container_name: open-webui
    restart: always

    ports:
      - "3000:8080"

    environment:
      - OPENAI_API_BASE_URL=http://host.docker.internal:8080/v1

    extra_hosts:
          - "host.docker.internal:host-gateway"